<div id="sign-in-form">
  <div class="wrapper">
    <h3>Email confirmation</h3>

    <p class="devise-form-desc span4">
      If you haven't received your confirmation instructions yet, enter your email here and we'll send them again.
    </p>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'span4', autofocus: true %>

      <div>
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
