<h1 id="user-summary"><%= user.username %> <small>is on their</small> 4th <small>day without drinking</small></h1>
<ul class="days">
  <% days.each do |day| %>
    <li class="day">
      <h2>
        <%= day.date.strftime "%A %d %B %Y" %>
        <% if current_user == user %>
          <%= form_for day do |f| %>
            <%= f.hidden_field :ticked, value: !day.ticked? %>
            <%= f.hidden_field :date %>
            <%= f.submit '', class: tick_icon(day) %>
          <% end %>
        <% else %>
          <div class="<%= tick_icon(day) %>"/>
        <% end %>
      </h2>
      <p>
        <%= day.text %>
      </p>
        <% if current_user == user %>
      <ul class="edit-options">
        <li>
          <%= link_to "Edit", new_or_edit_day_path(day) %>
        </li>
      </ul>
        <% end %>
    </li>
  <% end %>
</ul>
