<h1 id="user-summary">
  <%= user.username %>
  <small>is on their</small>
  <%= user.consecutive_days.ordinalize %>
  <small>day without drinking</small></h1>
<ul class="days">
  <% days.each do |day| %>
    <li class="day">
      <h2>
        <span class="date-day-of-week"><%= day.date.strftime "%A" %></span>
        <% if current_user == user %>
          <%= form_for day do |f| %>
            <%= f.hidden_field :ticked, value: !day.ticked? %>
            <%= f.hidden_field :date %>
            <%= f.submit '', class: tick_icon(day) %>
          <% end %>
        <% else %>
          <div class="<%= tick_icon(day) %>"/>
        <% end %>
        <span class="date-rest-of-date"><%= day.date.strftime "%d %B %Y" %></span>
      </h2>
      <p>
        <%= day.text %>
      </p>
        <% if current_user == user %>
      <ul class="edit-options">
        <li>
          <%= link_to "Edit", new_or_edit_day_path(day) %>
        </li>
      </ul>
        <% end %>
    </li>
  <% end %>
</ul>
