<div id="show-day">
  <h2>
    <span class="date-header">
      <span class="date-day-of-week"><%= day.date.strftime "%A" %></span>
      <span class="date-rest-of-date"><%= day.date.strftime "%d %B" %></span>
      <span class="date-rest-of-date"><%= day.date.strftime "%Y" %></span>
    </span>
  </h2>
  <%= render_tick day %>
  <h3><%= day.user.username %></h3>
  <%== entry day %>
  <% if current_user == day.user %>
    <ul class="entry-options">
      <li>
        <span class="ghost">view</span>
      </li>
      <li>
        <%= link_to "edit", edit_entry_path(day) %>
      </li>
    </ul>
  <% end %>
</div>
