<%= render 'header', title: 'Request to change password' %>
<div style="color: #333; padding: 5px; font-family: arial, sans-serif;">
<p style="font-weight: bold; font-size: 1.5em;">Hello <%= @resource.username %>,</p>

<p style="font-size: 1.2em;">Someone, hopefully you, has requested a link to change your password.</p>

<p>
  To change it, follow <%= link_to 'this link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>, or paste the url into your browser's address bar:
  <%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>.
</p>

<p>
  If you didn't request this, please ignore this email.
  Your password won't change unless you access the link above and create a new one.
</p>
<p>
  Good luck giving up and continuing to live without <%= @resource.addiction %>.
</p>
<p>
  Regards,
</p>
<p style="font-weight: bold;">
  Russell @ DRY DIARY
</p>
</div>
