<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dry Diary</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div id="title-bar" class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DRY DIARY</a>
          <% if user_signed_in? %>
            <span id="signed-in-user">
              <%= link_to current_user.username, "/#{current_user.username}" %>
            </span>
          <% end %>
        </div>
      </div>
      <div id="quick-links">
        <div class="container-fluid">
          <div id="account" class="pull-right">
            <% if user_signed_in? %>
              <%= link_to "diary", "/#{current_user.username}" %> |
              <%= link_to "account", edit_user_registration_path %> |
              <%= link_to "sign out", destroy_user_session_path, method: 'delete' %>
            <% elsif request.path != '/users/sign_in' %>
              <%= link_to "sign in", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="main-window">
      <% if flash[:alert] %>
        <div class="topbar alert alert-error">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div id="inner-window" class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <footer>
      <div>Copyright &copy; <%= Date.today.year %> Russell Dunphy</div>
      <div>DRY DIARY is free sofware, under the <a target="_blank" href="https://github.com/rsslldnphy/drydiary.com/blob/master/LICENSE.md">MIT Licence</a>.</div>
      <div>Contribute at <a target="_blank" href="http://github.com/rsslldnphy/drydiary.com">github</a> | View the plan on our <a target="_blank" href="https://trello.com/board/dry-diary/51c0c64e1a50c6de7c0001eb">Trello board</a> | Contact the author at <a href="mailto:rssll@rsslldnphy.com">rssll@rsslldnphy.com</a></div>
    </footer>
  </body>
</html>
